go 1.23

use (
	_internal/input_downloader
	_internal/utilities
	_internal/benchmarks
	2024/Day-01
	2024/Day-02
	2024/Day-03
	2024/Day-04
	2024/Day-05
	2024/Day-06
	2024/Day-07
)

replace github.com/LordMartron94/Advent-of-Code/_internal/utilities v0.0.0-unpublished => "./_internal/utilities"
